/* =================================================================================
 * title-switcher styles
 * ================================================================================= */
.hideTitle {
  display: none;
}

.displayTitle {
  display: block;
}

/* =================================================================================
 * Joshua Heagle's custom styles for Joshua Web Strategy
 * ================================================================================= */
.double-underline {
  border-bottom: 6px double #00ccff;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid #00ccff;
  margin: -0.2em 0 0.2em;
  display: inline-block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid #00ccff;
  margin: 0.2em 0 -0.2em;
  display: inline-block;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid #00ccff;
  margin: 0 -0.2em 0 0.2em;
  display: inline-block;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1em solid #00ccff;
  margin: 0 0.2em 0 -0.2em;
  display: inline-block;
}

/* -------------------------------------------
 * Menu styles section
 * -------------------------------------------*/
header {
  bottom: 0;
  top: auto;
  height: 40px;
  transition: height 0.4s cubic-bezier(0.15, 0.72, 1, -0.82) 0.2s;
}

header.hover {
  height: 160px;
}

/* ---------------------------------
 * Section Styles
 * -----------------------------------*/
section .content {
  min-width: 75px;
  min-height: 75px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

section:nth-of-type(even) .content {
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

#main {
  position: fixed;
  z-index: -1;
  background-image: url(../img/336-joshua-laptop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#main h1 {
  position: absolute;
  left: -200%;
  top: -200%;
  height: 0;
  width: 0;
  color: #fff;
  font-size: 0.1rem;
}

#intro {
  background-color: transparent;
  -webkit-box-shadow: inset 0 -45px 100px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 -45px 100px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 -45px 100px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 -45px 100px rgba(0, 0, 0, 0.4);
}

#intro h2, #intro h3, #intro h4 {
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

#profile {
  min-height: 550px;
}

#toronto-skyline {
  background-image: url("../img/314-toronto-skyline-night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#profile .content {
  padding: 70px 10px 10px;
  background-color: rgba(0, 153, 153, 0.4);
  border: none;
}

#profile p {
  text-align: left;
  margin: 0 0 1em;
  padding: 0 20px;
}

#profile a {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

#profile .contact-button {
  margin: 30px 20px 0;
  display: block;
  font-size: 1.6rem;
  transition: all 0.2s ease-in;
  width: calc(100% - 40px);
  padding: 20px 10px;
  border-radius: 0.4rem;
  background-color: rgb(255, 255, 255);
}

#profile .contact-button:hover, #profile .contact-button:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

#work {
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
}

#work .content {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  z-index: 10;
  font-weight: 700;
  font-size: 1.4em;
}

#work .content h4 {
  margin: 0 4px 4px;
}

.logo-link {
  margin: 8px;
  width: 100%;
  text-align: left;
}

.logo-link img {
  width: 35%;
  min-width: 75px;
}

#eyeconx .logo-link, #eyestartv .logo-link, #bright-optical .logo-link {
  display: none;
}

.title-switcher p, .titles h4 {
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.title-switcher p {
  text-align: left;
  margin: 0;
  font-size: 1.8rem;
}

.title-switcher a {
  font-size: 1.8rem;
}

#work iframe {
  width: 0;
  height: 0;
  position: absolute;
}

#work .social-overlay {
  position: absolute;
  bottom: 0;
  z-index: 10;
}

#work .social-links {
  color: #fff;
}

#work .social-overlay p {
  color: #444;
  background-color: rgba(0, 153, 153, 0.7);
}

#addressbook, #eyeconx, #live-cam, #title-switcher-plugin, #json-search, #eyestartv, #bright-optical {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#addressbook {
  background-image: url(../img/address-book.jpg);
}

#eyeconx {
  background-image: url(../img/eyeconx-website.jpg);
}

#live-cam {
  background-image: url(../img/live-street-cams.jpg);
}

#title-switcher-plugin {
  background-image: url(../img/title-switcher-plugin.jpg);
}

#json-search {
  background-image: url(../img/json-keyword-search.jpg);
}

#eyestartv {
  background-image: url(../img/eyestartv-register.jpg);
}

#bright-optical {
  background-image: url(../img/bright-optical-location-admin.jpg);
}

.blue-shade {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 89, 171, 0.5);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

#cam-title {
  color: #FFC017;
  font-size: 1.4rem;
  font-family: "Arial", arial, helvetica, san-serif, serif;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: -26px;
  text-decoration: none;
}

#rates {
  min-height: 1580px;
}

#rates .rate-intro p {
  text-align: center;
  margin: 0 auto;
}

#rates .rate-column {
  text-align: left;
  padding: 1rem;
}

#rates .rate-column li {
  margin-bottom: 1.2rem;
}

#rates .rate-column > p {
  margin-top: 1.2rem;
}

#rates .sml .rate-column {
  min-height: 680px;
}

#rates .sml .rate-column:nth-of-type(2) {
  min-height: 420px;
}

#rates .sml .rate-column:first-of-type {
  min-height: 320px;
}

#rates .rates-head, #rates .rates-foot {
  height: auto;
}

#rates .sml .rate-column h4, #rates .sml .rate-column h5, #rates .sml .rate-column h6, #rates .sml .rate-column p {
  display: inline-block;
  margin: 4px 20px 0 0;
  font-size: 1.4rem;
}

#rates .sml .rate-column h6, #rates .sml .rate-column p {
  font-size: 1.2rem;
  margin: 4px 0;
  vertical-align: top;
}

#rates .sml .rate-column h6 {
  width: 29%;
  min-width: 66px;
}

#rates .sml .rate-column p {
  width: 70%;
}

#rates .sml .rate-column ul {
  padding-left: 0;
  list-style: none;
}

#contact {
  min-height: 650px;
}

#contact .content {
  padding: 0;
}

#contact .content > .contact-note {
  padding: 20px 5px 5px;
}

#contact .content > .contact-note p {
  padding: 0 8px;
  text-align: left;
}

#contact .lrg .content > .contact-note {
  padding: 60px 5px 5px;
}

#contact .company-contact {
  padding: 8px;
}

#contact h3, #contact h4, #contact a {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

#contact a:hover, #contact a:focus {
  opacity: 0.6;
}

#contact .sml .company-contact {
  text-align: center;
  font-size: 1.4rem;
}

#contact .lrg .company-contact {
  font-size: 1.6rem;
}

#contact .company-contact h4 {
  font-size: 1.6rem;
}

#contact .contact-note h3 {
  font-size: 2rem;
}

#contact form {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#contact .contact-info {
  width: 100%;
  height: 30%;
  text-align: left;
}

#contact .contact-info .form-group {
  width: 100%;
  text-align: center;
}

#contact input, #contact textarea {
  width: 90%;
  position: relative;
  margin: 0;
  font-size: 0.8rem;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#contact input:not(.large-button):hover, #contact textarea:hover, #contact input:not(.large-button):focus, #contact textarea:focus {
  font-size: 1.2rem;
  width: 95%;
}

#contact .message {
  width: 100%;
  height: 65%;
}

#contact .message textarea {
  height: 90%;
}

#contact .message textarea:hover, #contact .message textarea:focus {
  height: 92%;
}

#contact .large-button {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 2.6rem;
}

#contact .large-button:hover, #contact .large-button:focus {
  width: 104%;
  height: 121%;
  font-size: 2.8rem;
  margin: -1% -2% 0;
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

#contact .content .social-links {
  height: 30%;
}

#home-footer {
  z-index: 1;
  background-color: #fff;
  min-height: 120px;
}

#home-footer .copyright {
  color: #fff;
  background-color: #009999;
  border: 4px solid #fff;
  text-align: center;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

#home-footer .copyright .copyright-info p {
  padding: 6px 4px;
  font-size: 1.8rem;
  margin: 0;
}

/* ==========================================================================
 * These override the primary ('mobile first') styles.
 * ========================================================================== */
@media only screen and (min-width: 314px) {
  #main {
    background-image: url("../img/480-joshua-laptop.jpg");
  }
  #toronto-skyline {
    background-image: url("../img/448-toronto-skyline-night.jpg");
  }
  #contact .company-contact {
    padding: 12px 30px;
  }
}
@media only screen and (min-width: 344px) {
  #rates {
    min-height: 1140px;
  }
  #rates .sml .rate-column {
    min-height: 465px;
  }
  #rates .sml .rate-column:nth-of-type(2) {
    min-height: 280px;
  }
  #rates .sml .rate-column:first-of-type {
    min-height: 215px;
  }
}
@media only screen and (min-width: 448px) {
  #main {
    background-image: url("../img/600-joshua-laptop.jpg");
  }
  #toronto-skyline {
    background-image: url("../img/640-toronto-skyline-night.jpg");
  }
  #rates .rate-intro p {
    text-align: center;
    margin: 0 20% 0 20%;
  }
}
@media only screen and (min-width: 580px) {
  .overflow-bottom-fifty {
    top: 0;
    bottom: -50%;
    height: 150%;
    position: relative;
    z-index: 10;
  }
  #contact .contact-info .form-group {
    width: 50%;
  }
  #contact input, #contact textarea {
    margin: 2px 0;
  }
  #contact .contact-info .form-group input {
    width: 80%;
  }
  #contact .contact-info .form-group input:not(.large-button):hover, #contact .contact-info .form-group input:not(.large-button):focus {
    width: 90%;
  }
  #rates {
    min-height: 1570px;
  }
  #rates .vert-row {
    min-height: 75px;
  }
  #rates .vert-eight-twelfth {
    min-height: 1420px;
  }
  #rates .rate-intro p {
    margin: 0 15% 0 15%;
  }
}
@media only screen and (min-width: 600px) {
  #main {
    background-image: url("../img/768-joshua-laptop.jpg");
  }
  #toronto-skyline {
    background-image: url("../img/800-toronto-skyline-night.jpg");
  }
  #rates {
    min-height: 1470px;
  }
  #rates .vert-eight-twelfth {
    min-height: 1320px;
  }
}
@media only screen and (min-width: 630px) {
  #rates {
    min-height: 1350px;
  }
  #rates .vert-eight-twelfth {
    min-height: 1200px;
  }
}
@media only screen and (min-width: 720px) {
  #rates {
    min-height: 1200px;
  }
  #rates .vert-eight-twelfth {
    min-height: 1050px;
  }
}
@media only screen and (min-width: 768px) {
  #main {
    background-image: url("../img/2448-joshua-laptop.jpg");
  }
  #toronto-skyline {
    background-image: url("../img/1024-toronto-skyline-night.jpg");
  }
  #rates {
    min-height: 1100px;
  }
  #rates .vert-eight-twelfth {
    min-height: 950px;
  }
}
@media only screen and (min-width: 881px) {
  .logo {
    position: relative;
    display: inline-block;
  }
  .mobile {
    display: none;
  }
  header {
    min-height: 70px;
    bottom: auto;
  }
  header:hover, header:active, header.hover {
    height: auto;
  }
  .title-switcher p, .title-switcher a {
    font-size: 0.9rem;
  }
  #profile .content {
    background-color: rgba(0, 153, 153, 0.8);
  }
  #profile .content h3 {
    font-size: 2.2rem;
  }
  #profile .content p {
    font-weight: 700;
  }
  #profile .content {
    border-radius: 10px;
    padding: 20px 10px 10px;
  }
  #home-footer .copyright {
    border: none;
  }
  #contact {
    min-height: 700px;
  }
  .logo-link {
    float: left;
  }
  .overflow-top-fifty {
    top: -50%;
    bottom: 0;
    height: 150%;
    position: relative;
    z-index: 10;
  }
  #rates {
    min-height: 1190px;
  }
  #rates .horiz-one-eleventh {
    max-width: 40px;
  }
  #rates .vert-row {
    min-height: 100px;
  }
  #rates .horiz-ten-twelfth {
    min-width: 844px;
  }
  #rates .vert-eight-twelfth {
    min-height: 980px;
  }
  #rates .rate-intro p {
    margin: 60px 0 0;
  }
  #rates .lrg .rate-column {
    width: 40%;
    min-width: 280px;
  }
  #rates .lrg .rate-column h4 {
    font-size: 1.8em;
  }
  #rates .lrg .rate-column h5 {
    font-size: 1.6em;
  }
  #rates .lrg .rate-column h6 {
    font-size: 1.4em;
  }
  #rates .lrg .rate-column p, #rates .lrg .rate-column li {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1042px) {
  #rates {
    min-height: 1190px;
  }
  #rates .vert-row, #rates .content {
    min-height: 35px;
  }
  #rates .vert-row > .horiz-full {
    height: inherit;
  }
  #rates .rate-intro {
    margin: 30px 0 0;
  }
  #rates .rate-intro p {
    margin: 0;
  }
  #rates .vert-eight-twelfth {
    min-height: 980px;
  }
}
@media only screen and (min-width: 1260px) {
  #rates {
    min-height: 1090px;
  }
  #rates .vert-eight-twelfth {
    min-height: 880px;
  }
}
@media only screen and (min-width: 1450px) {
  #rates {
    min-height: 990px;
  }
  #rates .vert-eight-twelfth {
    min-height: 780px;
  }
}
@media only screen and (min-width: 1600px) {
  #rates {
    min-height: 890px;
  }
  #rates .vert-eight-twelfth {
    min-height: 680px;
  }
}
@media only screen and (min-width: 1800px) {
  #rates .horiz-one-eleventh {
    max-width: 9.09%;
  }
}
@media only screen and (min-width: 2400px) {
  #toronto-skyline {
    background-image: url("../img/2400-toronto-skyline-night.jpg");
  }
}
/* Style adjustments for high resolution devices */